/* Write your code here: */
h1, h2{ /*Multiple selectors*/
color:blueviolet;
}

.box > p { /*Parent child*/
    color:firebrick;
}

.box ul { /*Descendant*/
    color: blue;
}

li.done {  /*chaining*/
    color:seagreen;
}
 ul p.done { /*combining combiners*/
    font-size: 0.5rem;
 }

