#red {
    color:red;
}

#blue {
    color:orange;
}

#orange {
    color:green;
}

#yellow {
    color:yellow
}

.color-title {
    font-weight: normal;
}

img {
    height: 200px;
    width: 200px;
}